this is where a user sees all the recs from users they are following

first get it to show all recs, and then can tweak it

<% @recs.each do |r| %>
<div class = "rec">

<h3> <%= r.title %> </h3>
<h3> <%= r.artist %> </h3>
<iframe src="https://embed.spotify.com/?uri=<%=r.uri%>" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>

</div>


	<%end%>