

where tags will be updated, need a form here and to redirect here, once the song data is put into the database


<% @rec.each do |r| %>
		<div class = "rec">

		<h3> <%= r.title %> </h3>
		<h3> <%= r.artist %> </h3>
		<iframe src="https://embed.spotify.com/?uri=<%=r.uri%>" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
		<%end %> </div> </br>




<%= render :partial => "tags/form"%>




