<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link href="cover.css" rel="stylesheet">
</head>
<body>

  <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
             <div class="inner cover">
            <h1 class="cover-heading">Share Music With Friends Easily</h1>
            <p class="lead">Song Share is an app where you can blah blah blah</p>
          
            <button class="signup-btn"> <a href = "/signup"> Sign Up! </a> </button>
          </div>
             
            </div>
          </div>

         

         

        </div>

      </div>

    </div>
  




</body>
</html>




