
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
</head>
<body>

<form method='POST' action='/signup' class="signupForm">
	<label>EMAIL</label>
	<input type = 'text' name = 'email'> <br>
	<label>USERNAME</label>
	<input type = 'text' name = 'username'> <br>
	<label> Image URL </label>
	<input type = 'text' name = 'image'> <br>
	<label>PASSWORD</label>
	<input type = 'password' name= 'password'><br><br>
	<input type = 'hidden' name = 'authenticity_token' value='<%= form_authenticity_token()%>' size = '65'>
	
	<br/>
	<label> Top 5 All Time Favorite Artists </label><br>
	<input type = "textbox" name= 'user[top_5][]'><br>
	<input type = "textbox" name= 'user[top_5][]'><br>
	<input type = "textbox" name= 'user[top_5][]'><br>
	<input type = "textbox" name= 'user[top_5][]'><br>
	<input type = "textbox" name= 'user[top_5][]'><br>



	<button type = 'submit' class="push"> Sign Up </button>
</form>



	
</body>
</html>