<!DOCTYPE html>
<html>
<head>
  <title>SongShare</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class = 'header clearfix'>
	<a href = "/" class ="logo">
		<!-- insert an image here -->
	</a>

		<% if session['current_user'] != nil %>
		<!-- get the user name from the current_user in the session -->
		<form action="/logout" method="POST" class="logoutForm">
			<input  type="submit" value="Log Out">
		</form>
	<% end %>
	</div>
	



<%= yield %>

<footer class = "footer">
<p>&copy;Diana Frank Dev 2016.</p>
</footer>

</body>
</html>


